@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@utility container {
   padding: .90rem;
   margin-inline: auto;
  
  @variant sm {
    padding: 1.1rem;
  }
}

@theme {
    --breakpoint-sm:30rem;
    --color-midnight: #121063;
    --color-primaryColor:#010a5e;
    --color-primaryColorLigth:#010d78;
    --color-secundaryColor:#FFCC00;
    --color-paragraphColor:#c0c0c0;
    --color-whiteColor:#fff;
    --color-blackColor:#000;
    --color-greenColor:#007936;
    --color-redColor:#cc3433;
    --color-darColor:#000;
    --color-darkColorLight:#171717;
    --container-center:true;
    --font-display: "Oswald","DM Sans","Nunito", "sans-serif";
    --font-oswald: "Oswald", sans-serif;
    --font-dmsans: "DM Sans", sans-serif;
    --font-nunito: "Nunito", sans-serif;

    --animate-movingY: move 2s linear infinite;

    @keyframes move {
        50% {
        transform: translateY(-1rem);
        }
    }
}

@layer base{
    body{
        @apply text-whiteColor bg-primaryColor tracking-wide font-dmsans;
    }

    section{
        @apply pt-16 pb-4 md:pt-20;
    }
}
@layer components{
    .btn{
        @apply inline-block text-sm py-3 px-8 capitalize text-center cursor-pointer rounded-md ease-linear duration-200;
    }

    .btn-primary {
        @apply text-blackColor bg-secundaryColor hover:opacity-75;
    }
}

@layer utilities{
    .home__title, .card__title
    {
        @apply text-4xl font-oswald font-bold uppercase lg:text-6xl;
    }
    .card__title{
        @apply  text-xl
    }
    
    .separator{
        @apply w-28 h-[2px] bg-secundaryColor my-5;
    }

    .paragraph {
        @apply text-paragraphColor text-lg leading-5;
    }

}
